div.content {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  min-height: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-image: url('../assets/CloudBackground.png');
  font-size: 16pt;
  color: #003366;
}
