<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>
    <title>Taco Cloud</title>
  </head>
  
  <body>
    <section layout:fragment="main" class="content">
      <h1>Login</h1>
      
      <div th:if="${error}"> 
        Unable to login. Check your username and password.
      </div>
      
      <p>New here? Click 
         <a th:href="@{/register}">here</a> to register.</p>
      
      <form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>
        
        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
        
        <input type="submit" value="Login"/>
      </form>
    </section>
  </body>
</html>