<cloud-title>Sign in to Taco Cloud</cloud-title>

<p style="font-weight: bold; color: red;">
  The sign in and security features of this version of Taco Cloud are not
  yet implemented. The forms presented below do absolutely nothing...yet.
  Stay tuned.
</p>

<group-box title="Sign in">
  <form>
    <label for="username"><b>Username:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <big-button label="Sign in"></big-button>
  </form>
</group-box>

<group-box title="Register">
  <form>
    <label for="username"><b>Username:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <label for="password"><b>(verify password)</b></label><br/>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label for="fullName"><b>Full name:</b></label><br/>
    <input type="text" name="fullName" class="formField"/><br/><br/>

    <label for="street"><b>Street:</b></label><br/>
    <input type="text" name="street" class="formField"/><br/><br/>

    <label for="city"><b>City / State:</b></label><br/>
    <input type="text" name="city" class="formField"/><input type="text" name="state" class="formField"/><br/><br/>

    <label for="zipCode"><b>Zip code:</b></label><br/>
    <input type="text" size="2" name="zipCode" class="formField"/><br/><br/>

    <label for="phoneNumber"><b>Phone number:</b></label><br/>
    <input type="text" name="phoneNumber" class="formField"/><br/><br/>


    <big-button label="Register"></big-button>
  </form>
</group-box>
